<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StockMapper">
    
    <resultMap type="Stock" id="StockResult">
        <result property="id"    column="id"    />
        <result property="profileCode"    column="profile_code"    />
        <result property="color"    column="color"    />
        <result property="quantity"    column="quantity"    />
        <result property="weight"    column="weight"    />
        <result property="totalWeight"    column="total_weight"    />
        <result property="profileName"    column="profile_name"    />
        <result property="length"    column="length"    />
        <result property="thickness"    column="thickness"    />
        <result property="materialType"    column="material_type"    />
        <result property="price"    column="price"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectStockVo">
        select id, profile_code, color, quantity, ROUND(weight,2) as weight, ROUND(total_weight, 2) as total_weight,profile_name, length, thickness, material_type, price, create_time, update_time, is_delete from stock
    </sql>

    <select id="selectStockList" parameterType="Stock" resultMap="StockResult">
        <include refid="selectStockVo"/>
        <where>
            <if test="profileCode != null  and profileCode != ''"> and profile_code = #{profileCode}</if>
            <if test="color != null  and color != ''"> and color = #{color}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="totalWeight != null "> and total_weight = #{totalWeight}</if>
            <if test="profileName != null  and profileName != ''"> and profile_name like concat('%', #{profileName}, '%')</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="thickness != null "> and thickness = #{thickness}</if>
            <if test="materialType != null "> and material_type = #{materialType}</if>
            <if test="price != null "> and price = #{price}</if>
            and is_delete = 0
        </where>
        order by create_time desc
    </select>
    
    <select id="selectStockById" parameterType="Long" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where id = #{id}
        and is_delete = 0
    </select>

<!--  通过 profileCode 查询 stock  -->
    <select id="selectStockByProfileCode" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where profile_code = #{profileCode}
        and is_delete = 0
    </select>
    <select id="selectStockByIds" resultMap="StockResult">
        <include refid="selectStockVo"/>
        WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_delete = 0
    </select>

    <select id="selectStockByProfileCodes" resultMap="StockResult">
        <include refid="selectStockVo"/>
        WHERE profile_code IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_delete = 0
    </select>

    <select id="selectTotalWeight" resultType="java.lang.Float">
        select ROUND(SUM(total_weight),2) as total_weight  from stock where is_delete = 0;
    </select>

    <insert id="insertStock" parameterType="Stock" useGeneratedKeys="true" keyProperty="id">
        insert into stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="profileCode != null and profileCode != ''">profile_code,</if>
            <if test="color != null and color != ''">color,</if>
            <if test="quantity != null">quantity,</if>
            <if test="weight != null">weight,</if>
            <if test="totalWeight != null ">total_weight,</if>
            <if test="profileName != null and profileName != ''">profile_name,</if>
            <if test="length != null">length,</if>
            <if test="thickness != null">thickness,</if>
            <if test="materialType != null">material_type,</if>
            <if test="price != null">price,</if>
            create_time,
            update_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="profileCode != null and profileCode != ''">#{profileCode},</if>
            <if test="color != null and color != ''">#{color},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="weight != null">#{weight},</if>
            <if test="totalWeight != null ">#{totalWeight},</if>
            <if test="profileName != null and profileName != ''">#{profileName},</if>
            <if test="length != null">#{length},</if>
            <if test="thickness != null">#{thickness},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="price != null">#{price},</if>
            sysdate(),
            sysdate()
         </trim>
    </insert>

    <update id="updateStock" parameterType="Stock">
        update stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="color != null and color != ''">color = #{color},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="totalWeight != null">total_weight = #{totalWeight},</if>
            <if test="profileName != null and profileName != ''">profile_name = #{profileName},</if>
            <if test="length != null">length = #{length},</if>
            <if test="thickness != null">thickness = #{thickness},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="price != null">price = #{price},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <update id="deleteStockById" parameterType="Long">
        update stock set is_delete = 1 where id = #{id}
    </update>

    <update id="deleteStockByIds" parameterType="String">
        UPDATE stock
        SET is_delete = 1
        WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateStockQuantity">
        update stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="totalWeight != null">total_weight = #{totalWeight},</if>
            update_time = sysdate()
        </trim>
        where profile_code = #{profileCode}
    </update>

<!--  批量更新  -->
    <update id="batchUpdateStock" parameterType="java.util.List">
        UPDATE stock
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="`quantity` = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    <if test="item.quantity != null">
                        WHEN `profile_code` = #{item.profileCode} THEN #{item.quantity}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`total_weight` = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    <if test="item.totalWeight != null">
                        WHEN `profile_code` = #{item.profileCode} THEN #{item.totalWeight}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE `profile_code` IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.profileCode}
        </foreach>
    </update>

</mapper>