<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StockLogMapper">
    
    <resultMap type="StockLog" id="StockLogResult">
        <result property="id"    column="id"    />
        <result property="fId"    column="f_id"    />
        <result property="profileCode"    column="profile_code"    />
        <result property="color"    column="color"    />
        <result property="quantity"    column="quantity"    />
        <result property="changeQuantity"    column="change_quantity"    />
        <result property="weight"    column="weight"    />
        <result property="profileName"    column="profile_name"    />
        <result property="length"    column="length"    />
        <result property="thickness"    column="thickness"    />
        <result property="materialType"    column="material_type"    />
        <result property="price"    column="price"    />
        <result property="logType"    column="log_type"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectStockLogVo">
        select id, f_id, profile_code, color, quantity, change_quantity, weight, profile_name, length, thickness, material_type, price, log_type, create_time, update_time, state, is_delete from stock_log
    </sql>

    <select id="selectStockLogList" parameterType="StockLog" resultMap="StockLogResult">
        <include refid="selectStockLogVo"/>
        <where>
            <if test="fId != null "> and f_id = #{fId}</if>
            <if test="profileCode != null  and profileCode != ''"> and profile_code = #{profileCode}</if>
            <if test="color != null  and color != ''"> and color = #{color}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="changeQuantity != null "> and change_quantity = #{changeQuantity}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="profileName != null  and profileName != ''"> and profile_name = #{profileName}</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="thickness != null "> and thickness = #{thickness}</if>
            <if test="materialType != null "> and material_type = #{materialType}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="logType != null "> and log_type = #{logType}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            and is_delete = 0
        </where>
        order by create_time desc
    </select>
    
    <select id="selectStockLogById" parameterType="Long" resultMap="StockLogResult">
        <include refid="selectStockLogVo"/>
        where id = #{id}
    </select>

    <select id="selectOrder" resultType="java.lang.Long">
        SELECT COUNT(*) FROM stock_log
        WHERE DATE_FORMAT(create_time, '%Y-%m-%d') = DATE_FORMAT(#{currentTime}, '%Y-%m-%d')
          AND state = 2
    </select>

    <insert id="insertStockLog" parameterType="StockLog" useGeneratedKeys="true" keyProperty="id">
        insert into stock_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fId != null">f_id,</if>
            <if test="profileCode != null and profileCode != ''">profile_code,</if>
            <if test="color != null and color != ''">color,</if>
            <if test="quantity != null">quantity,</if>
            <if test="changeQuantity != null">change_quantity,</if>
            <if test="weight != null">weight,</if>
            <if test="profileName != null and profileName != ''">profile_name,</if>
            <if test="length != null">length,</if>
            <if test="thickness != null">thickness,</if>
            <if test="materialType != null">material_type,</if>
            <if test="price != null">price,</if>
            <if test="logType != null">log_type,</if>
            <if test="state != null">state,</if>
            create_time,
            update_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fId != null">#{fId},</if>
            <if test="profileCode != null and profileCode != ''">#{profileCode},</if>
            <if test="color != null and color != ''">#{color},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="changeQuantity != null">#{changeQuantity},</if>
            <if test="weight != null">#{weight},</if>
            <if test="profileName != null and profileName != ''">#{profileName},</if>
            <if test="length != null">#{length},</if>
            <if test="thickness != null">#{thickness},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="price != null">#{price},</if>
            <if test="logType != null">#{logType},</if>
            <if test="state != null">#{state},</if>
            sysdate(),
            sysdate()
         </trim>
    </insert>
    <insert id="insertStockLogs" parameterType="java.util.List">
        INSERT INTO
            stock_log
        (f_id,
        profile_code,
        color,
        quantity,
        change_quantity,
        weight,
        profile_name,
        length,
        thickness,
        material_type,
        price,
        log_type,
        state,
        create_time,
        update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.fId}, #{item.profileCode}, #{item.color}, #{item.quantity}, #{item.changeQuantity}, #{item.weight}, #{item.profileName},
            #{item.length}, #{item.thickness}, #{item.materialType}, #{item.price}, #{item.logType}, #{item.state}, sysdate(), sysdate())
        </foreach>
    </insert>

    <update id="updateStockLog" parameterType="StockLog">
        update stock_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="fId != null">f_id = #{fId},</if>
            <if test="profileCode != null and profileCode != ''">profile_code = #{profileCode},</if>
            <if test="color != null and color != ''">color = #{color},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="changeQuantity != null">change_quantity = #{changeQuantity},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="profileName != null and profileName != ''">profile_name = #{profileName},</if>
            <if test="length != null">length = #{length},</if>
            <if test="thickness != null">thickness = #{thickness},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="price != null">price = #{price},</if>
            <if test="logType != null">log_type = #{logType},</if>
            <if test="state != null">state = #{state},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockLogById" parameterType="Long">
        update stock_log set is_delete = 1 where id = #{id}
    </delete>

    <delete id="deleteStockLogByFid" parameterType="Long">
        update stock_log set is_delete = 1 where f_id = #{id}
    </delete>


    <update id="deleteStockLogByIds" parameterType="String">
        UPDATE stock_log
        SET is_delete = 1
        WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="updateStockLogs" parameterType="Long">
        UPDATE stock_log
        SET state = 2
        WHERE f_id = #{fId}
    </update>

</mapper>